* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url("./photo-1516912481808-3406841bd33c.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    width: 100vw;
    height: 100vh;
    
}
.content {
    height: 100vh;
    width: 100vw;
    /* margin: auto; */
    /* border: 2px solid blue; */
    /* border-radius: 15px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}
.form {
    padding: 30px;
}
.city {
    font-size: 30px;
    padding: 30px;
    color: wheat;
}
.current-weather{
    font-size: 30px;
    padding: 30px;
    color: wheat;
}
.date {
    font-size: 30px;
    padding: 30px;
    color: wheat;
}
.weather-info{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 50px 0;
}
.weather-info div {
    font-size: 30px;
    color: bisque;
}

.info {
    /* border: 2px solid black; */
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    margin-top: 20px;
    /* background-color: aqua; */
    opacity: 10;
}
.info div {
    font-size: 30px;
    color: bisque;
}

#search {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
}
button {
    padding: 8px 20px;
    border-radius: 10px;
}


/* .left-content div {
    font-size: 40px;
    margin-left: -20px;
    color: white;
    font-weight: 400;

} */
.form {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* padding: 50px; */
}

.right-content div {
    font-size: 40px;
    margin-left: -20px;
    color: white;
    font-weight: 400;

}
